# https://github.com/YosysHQ/icestorm/blob/master/examples/icebreaker/icebreaker.pcf

# 12 MHz clock
set_io -nowarn clk_i        35

# RS232
set_io -nowarn rx_i                6
set_io -nowarn tx_o                9

# Buttons
set_io -nowarn rst_ni      10

#LED

#set_io -nowarn LEDG_N     37


