# https://github.com/YosysHQ/icestorm/blob/master/examples/icebreaker/icebreaker.pcf

# 12 MHz clock
set_io -nowarn clk_i        35

# RS232
set_io -nowarn RX_i                6
set_io -nowarn TX_o                9

# Buttons
set_io -nowarn reset_unsafe_i      10


